* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.75;
}
body a {
  text-decoration: none;
  color: #ffffff;
}
body h2 {
  text-transform: uppercase;
}
body .container {
  max-width: 1170px;
  margin: 0 auto;
}
body .grid {
  display: grid;
}
body .section-title {
  padding: 30px 0;
  font-size: 27px;
  font-weight: 800;
  color: #14b9d5;
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #1d2124;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-logo img {
  width: 25px;
  height: 25px;
  margin: 0 10px 0 25px;
}
.header-logo a {
  display: inline-block;
  font-size: 22px;
  font-weight: 800;
  margin-left: 10px;
  line-height: 25px;
}
.header-logo a:hover {
  color: #169cb4;
}
.header .main-nav ul {
  list-style: none;
}
.header .main-nav__item {
  display: inline-block;
}
.header .main-nav__item a {
  display: block;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 15px;
}
.header .main-nav__item a:hover {
  color: #b7b1b1;
}
.header-search {
  height: 100%;
}
.header-search button {
  background-color: transparent;
  border: none;
  height: 100%;
  padding: 25px;
  cursor: pointer;
}
.header-search button:hover > i {
  color: #169cb4;
}
.header-search button i {
  color: #ffffff;
}
.latest-news {
  min-height: calc(100vh - 70px);
  background-size: cover;
  background-position: center;
  position: relative;
  align-content: center;
}
.latest-news:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #1d2124;
  opacity: 0.41;
}
.latest-news-content {
  z-index: 1;
  text-align: center;
  padding: 60px 15px;
}
.latest-news-content h2 {
  font-size: 30px;
  font-weight: 800;
  color: #ffffff;
  margin: 20px 0;
}
.latest-news-content .latest-news-buttons .button {
  display: inline-block;
  width: 170px;
  height: 55px;
  margin-right: 15px;
  margin-top: 15px;
  color: #ffffff;
  border-radius: 5px;
}
.latest-news-content .latest-news-buttons a {
  display: block;
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 18px;
  line-height: 55px;
}
.latest-news-content .latest-news-buttons .button__subscribe {
  background-color: #89ca62;
}
.latest-news-content .latest-news-buttons .button__subscribe:hover {
  background-color: #679849;
}
.latest-news-content .latest-news-buttons .button__articles {
  background-color: #14b9d5;
}
.latest-news-content .latest-news-buttons .button__articles:hover {
  background-color: #169cb4;
}
.most-popular {
  background-color: #f2f2f2;
}
.most-popular-content {
  padding: 10px 10px 40px 10px;
  column-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}
.most-popular-item {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.most-popular-item p {
  padding: 10px 10px;
  text-align: center;
  font-weight: 800;
  background-color: #ffffff;
}
.popular-clients {
  align-content: center;
  position: relative;
  height: 50vh;
  background-position: center;
  background-size: cover;
}
.popular-clients:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #1d2124;
  opacity: 0.41;
}
.popular-clients-content {
  z-index: 1;
}
.popular-clients-title {
  position: relative;
  font-size: 32px;
  font-weight: 800;
  padding: 40px;
  margin-bottom: 40px;
  color: #ffffff;
  text-align: center;
}
.popular-clients-title:after {
  display: block;
  position: absolute;
  content: "";
  width: 52px;
  left: calc(50% - 26px);
  bottom: 0;
  border-bottom: 2px solid #14b9d5;
}
.popular-clients-items {
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
}
.popular-clients-items__item {
  align-self: center;
  text-align: center;
}
.top-rated {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 0.5fr 1fr;
}
.top-rated__title {
  grid-column: 1 / span 7;
  grid-row: 1;
}
.top-rated__item {
  grid-row: 2;
}
.top-rated__item img {
  width: 100%;
}
.top-rated__item:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.hot-news {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 255px auto auto 255px;
  column-gap: 15px;
  row-gap: 15px;
  grid-template-areas: "item1 item1 item1 item2" "item3 item3 item4 item4" "item5 item5 item6 item6" "item7 item8 item8 item8";
}
.hot-news-item {
  position: relative;
}
.hot-news-item .item-info {
  background: #f9f7f7;
  text-align: right;
  padding: 25px;
}
.hot-news-item .item-info h3 {
  font-size: 18px;
  padding: 10px 0;
}
.hot-news-item .item-img {
  overflow: hidden;
}
.hot-news-item:nth-child(1) {
  grid-area: item1;
}
.hot-news-item:nth-child(2) {
  grid-area: item2;
}
.hot-news-item:nth-child(3) {
  grid-area: item3;
}
.hot-news-item:nth-child(4) {
  grid-area: item4;
}
.hot-news-item:nth-child(5) {
  grid-area: item5;
}
.hot-news-item:nth-child(6) {
  grid-area: item6;
}
.hot-news-item:nth-child(7) {
  grid-area: item7;
}
.hot-news-item:last-child {
  grid-area: item8;
}
.hot-news .item-std {
  display: grid;
  grid-auto-columns: 50% 50%;
}
.hot-news .item-std .item-img {
  grid-column: 1;
}
.hot-news .item-std .item-img img {
  height: 100%;
}
.hot-news .item-std .item-info {
  grid-column: 2;
}
.hot-news .item-small {
  display: grid;
  grid-auto-rows: 4fr 1fr;
}
.hot-news .item-small .item-img {
  grid-row: 1;
}
.hot-news .item-small .item-img img {
  width: 100%;
}
.hot-news .item-small .item-info {
  grid-row: 2;
  text-align: center;
  padding: 5px;
}
.hot-news .item-big {
  display: grid;
  grid-auto-rows: 60% 40%;
}
.hot-news .item-big .item-img {
  grid-row: 1;
}
.hot-news .item-big .item-img img {
  height: 100%;
}
.hot-news .item-big .item-info {
  grid-row: 2;
}
.footer {
  background-color: #1d2124;
  height: 80px;
  margin-top: 45px;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.footer__rights {
  color: #ffffff;
  font-size: 13px;
}
.footer__logo {
  position: relative;
}
.footer__logo svg:first-child {
  position: absolute;
  top: 0;
  left: -40px;
}
/*# sourceMappingURL=style.css.map */