* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

/*START SPRITE ICONS*/

.ic-forum, .ic-forum-gr, .ic-journey, .ic-journey-gr, .ic-caledar,
.ic-caledar-gr
{ display: inline-block; background: url('./img/ico_sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.ic-forum { background-position: -2px -0px; width: 28px; height: 20px; }
.ic-forum:hover { background-position: -2px -22px; width: 28px; height: 20px; }
.ic-journey { background-position: -2px -44px; width: 20px; height: 20px; }
.ic-journey:hover { background-position: -2px -66px; width: 20px; height: 20px; }
.ic-caledar { background-position: -2px -88px; width: 19px; height: 19px; }
.ic-caledar:hover { background-position: -2px -109px; width: 19px; height: 19px; }

/*END SPRITE ICONS*/

body {
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

.clearfix {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.header {
    position: sticky;
    top: 0;
    height: 55px;
    background-color: rgba(0, 0, 0,.41);
}

.header__logo {
    float: left;
    height: 100%;
    margin-left: 80px;
    padding: 15px 0;
}

.header__logo a {
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    vertical-align: middle;
}

.header__logo a:hover {
    color: #33895b;
}

.header-dashboard {
    float: right;
}

.dashboard__buttons {
    float: left;
    margin: 15px 16px 0 0;

}

.buttons_calc {
    display: inline-block;
    padding: 4px;
    margin-right: 21px;
}

.dashboard__auth {
    float: right;
    margin: 18px 70px 0 0;
    color: #fff;
    padding-left: 30px;
    border-left: 1px solid #32302e;
}

.dashboard__auth a {
    color: #33895b;
}

.dashboard__auth a:hover {
    text-decoration: underline;
}